
body{
    background: #0054A6;
    height: 100%;
    width: 100%;
    
}

*{
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #004A80;
    border:  3px solid black;
    height: 10%;
    width: 100%;
    display: flex;
}

aside {
    border: 3px solid black;
    width: 20%;
    height: 35%;
    margin: 1%;
    background: green;
}

figure {
    border: #00CD00 30px solid;
}


#details-container {
     width: 22.5%;
    float: left;


}

#details {
    /*padding: 10px;*/
    /*background: green;*/
    /*margin: auto;*/
    /*text-align: center;*/
    /*float: left;*/
    /*margin-left: 30px;*/
    /*width: 300px;*/
    /*height: 500px;*/
    clear: left;

}

.Name {
    background: #004a80;
    margin: 1%;
    padding: 1px;
    border: 3px solid black;
    text-align: center;
    color: white;
    /*clear: right;*/

}

textarea {
    height: 5em;
    width: 98%;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;




}

.btn {
    padding: 8px;
    background: green;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    float: right;
    border: 2px solid black;


}

.btn:hover {
    background: lawngreen;
    color: black;
    border: 2px solid black;


}


.group-container {
    border: 3px solid black;
    height: 40%;
    width: 40%;
    /*clear: right;*/

}

.section1 {
    clear: right;
    background: pink;
    width: 55%;
    float: right;

}

.void {
    border: 1px solid black;
    width: 75%;
    height: 35%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    float: right;


}

#map{       top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 75%;
            height: 35%;
            border: 1px solid black;
            float: right;
            margin-top: 1%;
            margin-left: 2%;
            margin-right: 2%;


}

#mapL{       
    
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 35%;
        border: 2px solid black;
        float: right;
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
        

}

#post:focus{
    border: 2px solid lawngreen;
    background: #298fde;

}

/*.groupcontainer{*/
/*    background: #004a80;*/
/*    border: 1px solid black;*/
/*    position: relative;*/
/*    !* height: 250px; *!*/
/*    !* width: 500px; *!*/
/*    margin: 30px;*/
/*    border-radius: 10px;*/
/*    height: auto;*/
/*    width: auto;*/
/*    margin-left: 400px;*/
/*    margin-right: 70px;*/
/*    margin-top: -70px;*/
/*}*/

.gn{
    text-align: center;
    margin: inherit;
}

.button {
    width: 40px;
    height: 30px;
    border-top: 2px solid black;
    position: absolute;
    cursor: pointer;
    overflow: hidden;



}

.prev {
    border-left: 2px solid black;
    left: 10%;
    transform: rotate(-45deg);
    margin-right: 0%;


}

.next {
    border-right: 2px solid black;
    right: 10%;
    transform: rotate(45deg);



}

 .slider-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
 }

#Groups{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 19%;
    background: #004A80;
    border: 3px solid black;
    float: right;
    margin-right: 2%;
    color: white;
    position: relative;


}

.groupbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid black;
    background: green;
    height: 15vh;
    width: 100%;
    float: right;
    /*position: relative;*/
    border-radius:30px;
    z-index: 1;


}

.groupbox:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background: #00ff00;
    height: 15vh;
    width: 100%;
    /*margin: 20px;*/
    cursor: pointer;
    color: black;
    border-radius:30px;

}


.horizontal {
    position: absolute;
    background-color: lawngreen;
    width:2.4em;
    height: .7em;
    top: 1.9em;
    left: 1.05em;
    margin: 90px;
}

.vertical {
    position: absolute;
    background-color: lawngreen;
    width: .7em;
    height: 2.4em;
    top: 1.05em;
    left: 1.9em;
    margin: 90px;

}




#coords{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100000;
}

#coords2D {
    position: absolute; 
    bottom: 0;
}

#buttons {
    position: absolute;
    top:10px;
    left: 10px;
}
#layercontrol{
    position: absolute;
    top:10px;
    right: 10px;
}

/* .inputForm {
    position: fixed;
    top: 50%;
    bottom: 50%;
    z-index: 1;
} */

.group-width {
    width: 278px;
}

.hidden {
    display: none;
}

/*button css*/


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: green;
    color: white;
    padding: 16px 20px;
    border: 1px solid black;
    cursor: pointer;
    opacity: 0.8;
    /*position: fixed;*/
    bottom: 23px;
    right: 28px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 1%;
}


/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    /*bottom: 0;*/
    /*right: 15px;*/
    border: 3px solid black;
    /*z-index: 9;*/


}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: grey;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid black;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    border: 1px solid black;
}

.form-container .create {
    border: 1px solid black;

}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/* 2D map style */

